@page
@using SistemaMercadoLibre.Pages.Controlador
@using SistemaMercadoLibre.Pages.Modelo
@using System.Data
@model SistemaMercadoLibre.Pages.Vista.VistaCategoria.CategoriaModel
@{

    //List<Categoria> lista = new List<Categoria>();
    //lista = GestionCategoria.Listar();
    //Console.WriteLine("Lista");
    //Console.WriteLine(lista);
/*
    if (Request.Method == "POST")
    {
        Categoria categoria = new Categoria();
        categoria.setDescripcion(Request.Form["txtDescripcion"].ToString());
        String idNewCategoria = GestionCategoria.InsertarCategoria(categoria);
        //lista = GestionCategoria.Listar();
    }
    */

}
@if (Model.errorMessage.Length > 0)
 {
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
          <strong>@Model.errorMessage</strong>
          <button type='button' class='btn-close' data-bs-dismiss='alert' arial-label='Close'></button>
    </div>

}
@if (Model.successMessage.Length > 0)
 {
    <div class='alert alert-success alert-dismissible fade show' role='alert'>
          <strong>@Model.successMessage</strong>
          <button type='button' class='btn-close' data-bs-dismiss='alert' arial-label='Close'></button>
    </div>

}
<!--
<div class='alert alert-success alert-dismissible fade show' role='alert'>
      <strong>Bienvenido al Sistema @HttpContext.Session.GetString("NOMBRE_USUARIO")</strong>
       <button type='button' class='btn-close' data-bs-dismiss='alert' arial-label='Close'></button>
</div>
-->
<h2>Categoria</h2>
<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Categoria</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>Lista de Categorías
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary" onclick="abrirModal(null)">Crear Categoría</button>
            </div>
        </div>
        <hr />
        <table id="tablaCategoria" class="display cell-boder" style=" width: 100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Fecha Registro</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach(var categoria in Model.lista)
                {
                    <tr>
                        <td>@categoria.getId()</td>
                        <td>@categoria.getDescripcion()</td>
                        <td>@categoria.getFechaRegistro()</td>
                        <!--<td  class="ocultar" >@categoria.getEstado()</td>-->
                        <td>
                            @if (@categoria.getEstado() == "Activo")
                            {
                                <span class='badge bg-success'>Activo</span>
                            }
                            else{
                                <span class='badge bg-danger'>De Baja</span>
                             }                                                        
                        </td>
                        <td><button type="button" class="btn btn-primary btn-editar"><i class="fas fa-pen me-1"></i></button>
                            <button type="button" class="btn btn-danger ms-2 btn-baja"><i class="fas fa-trash me-1"></i></button>
                        </td>
                    </tr>
                    
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Registrar y Modificar -->
<form method="post">
    <div class="modal fade" id="FrmModalCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-sistema text-black">
                    <h5 class="breadcrumb-item" id="lblCategoria" name="lblCategoria">Categoría</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-1">
                        <label for="exampleFormControlInput1" class="form-label">ID</label>
                        <input type="text" class="form-control" id="txtID" name="txtID" readonly="readonly" >
                    </div>
                </div>
                <div class="modal-body">
                    <div class="mb-1">
                        <label for="exampleFormControlInput1" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="txtDescripcion" name="txtDescripcion" placeholder="Escribir Descripción">
                    </div>
                </div>
                <div class="modal-body">
                    <label for="exampleFormControlInput1" class="form-label">Estado</label>
                    <select id="cboActivo" name="cboActivo" class="form-select">
                        <option value="1" selected >Activo</option>
                        <option value="0">De Baja</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" onclick="Guardar()" asp-page-handler="Guardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal Eliminar -->
<form method="post">
    <div class="modal fade" id="FrmModalCategoriaBaja" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-sistema text-black">
                    <h5 class="breadcrumb-item" id="exampleModalLabel">BAJA DE CATEGORÍA</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-1">
                        <label for="exampleFormControlInput1" class="form-label">ID</label>
                        <input type="text" class="form-control" id="txtIdBaja" name="txtIdBaja" readonly="readonly" >
                    </div>
                </div>
                <div class="modal-body">
                    <div class="mb-1">
                        <label for="exampleFormControlInput1" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="txtDescripcionBaja" name="txtDescripcionBaja" placeholder="Escribir Descripción">
                    </div>
                </div>
                <div class="modal-body">
                    <label for="exampleFormControlInput1" class="form-label">Estado</label>
                    <select id="cboActivoBaja" name="cboActivoBaja" class="form-select">
                        <option value="1" selected >Activo</option>
                        <option value="0">De Baja</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" onclick="Guardar()" asp-page-handler="Baja">BAJA</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script>
    $(document).ready(function(){
            //$(".ocultar").hide();
    });

    var tablaData = $("#tablaCategoria").DataTable({
            responsive: true,
            ordering: true,
            dom: 'Bfrtip',
            "language": {
                url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
            },
            buttons: [
                'copy',
                'print',
                'excel'
            ]
        });

        function abrirModal(json) {

            if (json != null) {
                $('#lblCategoria').text("EDITAR CATEGORÍA");
                $('#txtID').prop('readonly',true);
                $('#txtDescripcion').prop('readonly',false);//Si Estaba Desactivado. Lo activo
                $('#cboActivo').prop('disabled',false);//Si Estaba Desactivado. Lo activo
                $('#txtID').val(json[0]);
                $('#txtDescripcion').val(json[1]);              
                $('#cboActivo').val(json[3].search("Activo") != -1 ? 1 : 0);
            } else {
                $('#lblCategoria').text("REGISTRAR CATEGORÍA");
                $('#txtID').val("");
                $('#txtDescripcion').val("");
                $('#txtID').prop('readonly',true);
                $('#cboActivo').prop('disabled',true);
            }

            $("#FrmModalCategoria").modal("show");

        }
        
        function abrirModalBaja(json) {

            if (json != null) {
                $('#txtIdBaja').val(json[0]);
                $('#txtIdBaja').prop('readonly',true);
                $('#txtDescripcionBaja').val(json[1]);
                $('#txtDescripcionBaja').prop('readonly',true);
                $('#cboActivoBaja').val(json[3].search("Activo") != -1 ? 1 : 0);
                $('#cboActivoBaja').prop('disabled',true);
            } 

            $("#FrmModalCategoriaBaja").modal("show");

        }
        $("#tablaCategoria tbody").on("click",'.btn-editar',function(){
	       
            var filaSeleccionada = $(this).closest("tr");
            console.log(tablaData.row(filaSeleccionada).data());
            var data = tablaData.row(filaSeleccionada).data();
            abrirModal(data);
            //alert(filaSeleccionada);
        })

        $("#tablaCategoria tbody").on("click",'.btn-baja',function(){
	       
            var filaSeleccionada = $(this).closest("tr");
            console.log(tablaData.row(filaSeleccionada).data());
            var data = tablaData.row(filaSeleccionada).data();
            abrirModalBaja(data);
            //alert(filaSeleccionada);
        })

        function Guardar() {
            
        }
    </script>

}
