@page
@model SistemaMercadoLibre.Pages.Vista.Recepcionista.VistaAsistenteRecepcionModel
@{
  }
    <h2>Recepción de productos</h2>
        <ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Emitir comprobante</a></li>
    <li class="breadcrumb-item active">Emitir comprobante</li>
        </ol>
    <div class="card">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>Emitir comprobante
        </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover" id="tblRecepcion" >
                        <thead>
                            <th class="text-center active">N° Orden pedido</th>
                            <th class="text-center active">Fecha modificación</th>
                            <th class="text-center active">Comprobante</th>
                            <th class="text-center active">Estado</th>
                            <th class="text-center active">Acción</th>
                        </thead>
                        <tbody>
                            @{
                            @if(Model.lstRecepcion!=null){
                            @foreach (var recepcion in Model.lstRecepcion)
                                {
                                            <tr>
                                                <td class="text-center">@recepcion.NroOrden</td>
                                                <td class="text-center">@recepcion.FechaRegistro</td>
                                                <td class="text-center">@recepcion.NumComprobante</td>
                                                <td class="text-center">
                                                @{
                                                    @switch(recepcion.Estado){
                                                        case 1: <span class="badge bg-success">Recepcionado</span>
                                                        break;
                                                        case 3: <span class="badge bg-warning">Por enviar</span>
                                                        break;
                                                    }
                                                }
                                                </td>
                                                <td class="text-center">
                                                    @{
                                                        @switch(recepcion.Estado){
                                                        case 1: 
                                                        <button type="button" class="btn btn-outline-success btn-sm" onclick="setValues('@recepcion.IdRecepcion','emitir', '@recepcion.NroOrden','@recepcion.IdVenta')"><i class="fa-solid fa-gears"></i> Emitir comprobante</button>
                                                        break;
                                                        case 3: <button type="button" class="btn btn-outline-primary btn-sm" onclick="setValues('@recepcion.IdRecepcion','enviar auditar','@recepcion.NroOrden','@recepcion.IdVenta')"><i class="fa-solid fa-paper-plane" ></i> Enviar auditar</button>
                                                        break;
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                }
                            }
                                
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="confirmacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="POST">
                    <input type="hidden"  id="idRecepcion" name="idRecepcion"/>
                     <input type="hidden" id="idVenta" name="idVenta"/>
                    <input type="hidden" id="estado" name="estado"/>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h6>¿Esta seguro de <span id="tipo"></span> para el pedido N° <span id="nroOrden"></span>?</h6>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal" asp-page-handler="Aceptar" >Aceptar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
@section scripts{
    <script>
        var tablaData = $("#tblRecepcion").DataTable({
            responsive: true,
            ordering: true,
            dom: 'Bfrtip',
            "language": {
                url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
            },
            buttons: [
                'copy',
                'print',
                'excel'
            ]
        });

        function setValues(idRecepcion, tipo, nroOrden, idVenta) {
            $("#idRecepcion").val(idRecepcion);
            $("#idVenta").val(idVenta);
            $("#tipo").empty();
            $("#nroOrden").empty();
            if (tipo == "emitir") {
                $("#estado").val(3);
                $("#tipo").append("emitir comprobante");
            } else {
                $("#estado").val(4);
                $("#tipo").append("enviar auditar producto");
            }
            $("#nroOrden").append(nroOrden);
            $("#confirmacion").modal("show");
        }
    </script>
  }